@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 5%;
    display: flex;
    align-items: center;
    background: #333;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
}

.logo{
    text-decoration: none;
    color: #e0e0e0;
    font-weight: 700;
    font-size: large;
}

.check{
    display: none;
}

#close-check{
    display: none;
}

.icons{
    font-size: 2.2rem;
    display: flex;
    position: absolute;
    right: 5%;
    color: #e0e0e0;
    cursor: pointer;
}

.navbar a{
    text-decoration: none;
    color: #e0e0e0;
    display: flex;
    justify-content: center;
    padding: 0.6rem;
    font-weight: 500;
}

.navbar a:hover{
    background: rgba(0, 0, 0, .2);
}

.navbar{
    width: 100%;
    top: 0;
    left: 0;
    display: block;
    position: absolute;
    top: 100%;
    background: #4d4d4d;
    padding: 0;
    height: 0;
    overflow: hidden;
    transition: .3s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
}

#check:checked~.navbar{
    height: 10.8rem;
}

#check:checked~.header{
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}

#check:checked+ label #menu-check{
    display: none;
}

#check:checked+ label #close-check{
    display: block;
}

.chisono{
    width: 100%;
    margin-top: 69px;
    display: flex;
    background-color: #666666;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

img{
    width: 60%;
    border-radius: 50%;
    display: block;
}


h1{
    color: #fff;
}

.descchisono{
    color: #fff;
}

@media (min-width: 800px){
    .icons{
        display: none; 
    }

    .navbar{
        width: auto;
        display: inline;
        position: static;
        height: 100%;
        background: rgba(0, 0, 0, 0);
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    }
    .navbar a{
        display: inline;
    }

    .header{
        display: flex;
        justify-content: space-between;
        
    }

    .navbar a:hover{
        background: rgba(0, 0, 0, 0);
        text-decoration: underline;
    }

    .chisono{
        display: flex;
        flex-direction: row;
    }

    img{
        width: 25%;
    }
}

@media (min-width: 950px){
    .header{
        padding: 1.3rem 10%;
    }
}
